  <% if @map.user.id == current_user.id %>  
  <% columns = 12/@map.column_number.to_i %>  
   <div class="fatty col-xs-<%= columns  %>" ondrop="drop(event)" ondragover="allowDrop(event)"> <%= link_to  (image_tag "#{placement.tile.path}.png", {class: "map-tiles", id: "#{placement.id}"}), "/placements/#{placement.id}/edit"%></div>
  <% elsif current_user.id == @participations.user_id && @visibility.find_by(placement_id: placement.id)%>
  <% columns = 12/@map.column_number.to_i %>  
   <div class="fatty col-xs-<%= columns  %>">
     <%= image_tag "#{placement.tile.path}.png", {class: "map-tiles" } %> 
   </div>
  <% else %>
  <% columns = 12/@map.column_number.to_i %>  
    <div class="fatty col-xs-<%= columns  %>"><%= form_tag "/visibilities/create", method: :post do %>
      <%= hidden_field_tag :placement_id, placement.id %>
      <%= hidden_field_tag :participation_id, @participations.id %>
      <%= image_submit_tag "black.png", {class: "tiles"}%></div>
    <% end %>
  <% end %>