<h1 class="Header"><%= @map.name %></h1>
<h3 class= "description"><%=@map.description %></h3>
<h4>Journey: <%= link_to @map.journey.name, "/journeys/#{@map.journey_id}", method: :get, class: "btn btn-info"   %></h4>
<br>

<table style="width:0%">
  <tr>
    <% row = 1 %>
    <% @images.each do |placement| %>
      <% if placement.row == row %>
        <% if @map.user.id == current_user.id %>    
         <th> <%= link_to  (image_tag "#{placement.tile.path}.png", {class: "tiles"}), "/placements/#{placement.id}/edit"%></th>
        <% else %>
         <th><%= image_tag "#{placement.tile.path}.png", {class: "tiles"} %></th>
         <% end %>
      <% else %>
        </tr>
        <tr>
        <% if @map.user.id == current_user.id %>
          <th><%= link_to  (image_tag "#{placement.tile.path}.png", {class: "tiles"}), "/placements/#{placement.id}/edit"%></th>
        <% else %>
          <th><%= image_tag "#{placement.tile.path}.png", {class: "tiles"} %></th>
        <% end %>
        <% row += 1 %>
      <% end %>
    <% end %>
   </tr> 
</table>
<br>


<br>
<% if @map.user.id == current_user.id %>
  <%= link_to "Delete Map", "/maps/#{@map.id}", method: :delete, class: "btn btn-danger" %>
<% end %>
