<span><h1 class="Header"><%= @map.name %></h1></span>
<h3 class= "description"><%=@map.description %></h3>
<h4>Journey: <%= link_to @map.journey.name, "/journeys/#{@map.journey_id}", method: :get, class: "btn btn-info"   %></h4>
<br>
<table style="width:0%">
  <tr>
    <% row = 1 %>
    <% @placements.each do |placement| %>
    <% if placement.row == row %>
      <%= render partial: "tiles", locals: {placement: placement} %>
      <% else %>
        </tr>
        <tr>
      <%= render partial: "tiles", locals: {placement: placement} %>
        <% row += 1 %>
      <% end %>
    <% end %>
   </tr> 
</table>
  
<br>
  <div ondrop="drop(event)" ondragover="allowDrop(event)" draggable=true ondragstart="drag(event)" >
    Drop here
  </div>


<br>
<% if @map.user.id == current_user.id %>
  <%= link_to "Delete Map", "/maps/#{@map.id}", method: :delete, class: "btn btn-danger" %>
  <br>
  <br>
  <br>
  <br>
  <br>

<div ng-app="app">
  <div ng-controller="mapsController">

  <button ng-click="showTiles()">All Tiles</button>  
    <table style="width:0%" ng-if="showBar">
      <tr>
      <% counter = 0 %>
        <% @tiles.each do |tile| %>
          <% if counter < 4 %>
            <th ondrop="drop(event)" ondragover="allowDrop(event)"><%=link_to (image_tag "#{tile.path}.png", {class: "tiles", id: "#{tile.id}", draggable: true, ondragstart: "drag(event)", ondrop: "drop(event)", ondragover: "allowDrop(event)"}), "/tiles/#{tile.id}" %></th>
            <% counter += 1 %>
          <% else %>
          </tr>
          <tr>
            <th><%=link_to (image_tag "#{tile.path}.png", {class: "tiles"}), "/tiles/#{tile.id}" %></th>
            <% counter -= 3 %>
          <% end %>
        <% end %>
      </tr>
    </table>
      
  </div>
</div>
<% end %>
<br>
<br>
<br>

