<h1 class="Header"><%= @map.name %></h1>
<h3 class= "description"><%=@map.description %></h3>
<h4>Journey: <%= link_to @map.journey.name, "/journeys/#{@map.journey_id}", method: :get, class: "btn btn-info"   %></h4>
<br>
<iframe src="/placements?id=<%= @map.id %>" frameborder="500">
  
</iframe>
  
<br>


<br>
<% if @map.user.id == current_user.id %>
  <%= link_to "Delete Map", "/maps/#{@map.id}", method: :delete, class: "btn btn-danger" %>
<% end %>
