<div class="transparent">
  <span><h1 class="Header"><%= @map.name %></h1></span>
  <h3 class= "description"><%=@map.description %></h3>
  <h4>Journey: <%= link_to @map.journey.name, "/journeys/#{@map.journey_id}", method: :get, class: "btn btn-info"   %></h4>
</div>
<br>
<div id="map-builder">  
    <% @placements.each do |placement| %>
      <%= render partial: "tiles", locals: {placement: placement} %>
    <% end %>
</div>

<br>  
<br>
<br>
<% if @map.user.id == current_user.id %>
  <%= link_to "Delete Map", "/maps/#{@map.id}", method: :delete, class: "btn btn-danger" %>
  <br>
  <br>
  <br>
  <br>
  <br>

<div ng-app="app">
  <div ng-controller="mapsController">

  <button ng-click="showTiles()">All Tiles</button>  
    <div ng-if="showBar">
        <% @tiles.each do |tile| %>
            <div class='col-md-2' ondrop="drop(event)" ondragover="allowDrop(event)"><%=link_to (image_tag "#{tile.path}.png", {class: "tiles", id: "#{tile.path}.png", draggable: true, ondragstart: "drag(event)", ondrop: "drop(event)", ondragover: "allowDrop(event)"}), "/tiles/#{tile.id}" %></div>
        <% end %>
    </div>
      
  </div>
</div>
<% end %>
<br>
<br>
<br>

