<div class="transparent">
  <span><h1 class="Header"><%= @map.name %></h1></span>
  <h3 class= "description"><%=@map.description %></h3>
  <h4>Journey: <%= link_to @map.journey.name, "/journeys/#{@map.journey_id}", method: :get, class: "btn btn-info"   %></h4>
</div>
<br>
<% if current_user.id != @map.creator_id  %>
  <svg id="reveal" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1150" height="<%= @placements.last.row * 250 %>">
      <radialGradient id="radialGradient" cx=".10" cy=".10" r=".2">
        <stop offset="0%" stop-color="alpha" stop-opacity="0"/>
        <stop offset="100%" stop-color="white" stop-opacity="1"/>
      </radialGradient>

      <mask id="radialMask" maskUnits="objectBoundingBox" x="0" y="0" width="1.0" height="1.0">
        <rect x="0" y="0" height="100%" width="100%" fill="url(#radialGradient)"/>
      </mask>

      <rect x="0" y="0" height="100%" width="100%" fill="rgba(0,0,0,1)" mask="url(#radialMask)"/>
    </svg>
<script>
    var spot = document.getElementById('radialGradient');
    var verticalMoveSpeed = .12
    var horizontalMoveSpeed = .12
    document.addEventListener('keydown', (event) => {
      var keyName = event.key;
      var spotCY = spot.cy.animVal.value;
      var spotCX = spot.cx.animVal.value;
      if (keyName === 'ArrowUp'){ 
        if (spotCY > .1){
          spotCY -= verticalMoveSpeed;
          spot.setAttribute("cy", spotCY); 
        }
      }
      if (keyName === 'ArrowDown'){ 
        if (spotCY < .1) {
          spotCY += verticalMoveSpeed;
          spot.setAttribute("cy", spotCY); 
        }
      }
      if (keyName === 'ArrowLeft'){ 
        if (spotCX > .1) {
          spotCX -= horizontalMoveSpeed;
          spot.setAttribute("cx", spotCX); 
        }
      }
      if (keyName === 'ArrowRight'){ 
        if (spotCX < .1) {
          spotCX += horizontalMoveSpeed;
          spot.setAttribute("cx", spotCX); 
        }
      }
    });
  </script>
<% end %>
<div id="map-builder">  
    <% @placements.each do |placement| %>
      <%= render partial: "tiles", locals: {placement: placement} %>
    <% end %>
</div>

<br>  
<br>
<br>
<% if @map.user.id == current_user.id %>
  <%= link_to "Delete Map", "/maps/#{@map.id}", method: :delete, class: "btn btn-danger" %>
  <br>
  <br>
  <br>
  <br>
  <br>

<div ng-app="app">
  <div ng-controller="mapsController">

  <button ng-click="showTiles()">All Tiles</button>  
    <div ng-if="showBar">
        <% @tiles.each do |tile| %>
            <div class='col-md-2' ondrop="drop(event)" ondragover="allowDrop(event)"><%=link_to (image_tag "#{tile.path}.png", {class: "tiles", id: "#{tile.id}", draggable: true, ondragstart: "drag(event)", ondrop: "drop(event)", ondragover: "allowDrop(event)"}), "/tiles/#{tile.id}" %></div>
        <% end %>
    </div>
      
  </div>
</div>
<% end %>
<br>
<br>
<br>

