
<div class="translucent">
<% @user.errors.full_messages.each do |error| %>
  <ul class="journey"> 
    <li class="journey"><%= error %></li>
  </ul>
<% end %>
  <div class="journey">
  
    <h1>Sign Up to Begin Your Journey</h1>

    <%= form_tag '/users', method: :post, multipart: true do  %>
      <div>
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </div>
      <div>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>
      <div>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div>
        <%= label_tag :password_confirmation %>
        <%= password_field_tag :password_confirmation %>
      </div>
      <div>
        <%= label_tag :avatar %>
        <h3 class="filer"><%= file_field_tag :avatar %></h3>
      </div>
      <br>
      <br>
      <br>
      <%= submit_tag "Begin Your Quest!", class: "btn btn-info"%>
    <% end %>
  </div>  
</div>
